.tabs-live-demo {
    padding: 72px 48px;
}

.avatar-image {
    padding: 120px 48px;
}

.avatar-image groupui-avatar {
    margin: 0 16px;
}

.list-live-demo-box {
    margin: 96px 96px;
}

.link-primary {
    padding: 96px
}