.template-forms-others-service {
    padding: var(--groupui-spacing-10);
}

.template-forms-others-service groupui-card {
    max-width: 960px;
}

.template-forms-others-service .sub-headings {
    margin-bottom: var(--groupui-spacing-5);
    margin-top: var(--groupui-spacing-9);
}

.template-forms-others-service #description {
    margin-top: var(--groupui-spacing-3);
}

.template-forms-others-service .button-col {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--groupui-spacing-9);
}

.template-forms-others-service .button-col groupui-button:first-of-type {
    margin-right: var(--groupui-spacing-5);
}